body {
    font-size: 14px;
}

.dropdown-menu {
    white-space: nowrap;
}

.container {
    background: #fff;
}

#top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

#top .container, footer  .container{
    background: inherit;
}

#input-payment-telephone + .text-danger {
    display: none;
}

header {
    margin-top: 64px;
}

header .container {
    /*padding-top: 30px;*/
}

.list-inline li:nth-of-type(2),
.list-inline li:nth-of-type(3) {
    display: none;
}

footer {
    padding-bottom: 20px;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
}

footer hr {
    border-color: #ffffff;
}

.copyright {
    opacity: 0.5;
}

.image {
    padding: 0 10px;
}

#search .input-lg {
    height: 30px;
    line-height: 28px;
}

#search .btn-lg {
    padding: 5px 9px;
}

.input-lg {
    border-radius: 4px 0 0 4px;
}

.after-logo {
    font-weight: bold;
    text-align: center;
    color: #31c6f0;
    padding-top: 10px;
    padding-bottom: 5px;
}

.h-allday {
    margin-top: 9px;
}

.contacts-wrap {
    text-align: center;
}

.contact-el {
    margin-bottom: 3px;
    display: flex;
    align-items: center;
}

.contact-el img{
    margin-right: 10px;
    flex: none
}

.contact-el span {
    font-weight: bold;
    color: #666;
    line-height: 17px;
}

.callback, .callback:focus, .callback-submit {
    margin-top: 6px;
    border: 2px solid #1f90bb;
    display: inline-block;
    padding: 0 10px;
    border-radius: 4px;
    color: #1f90bb;
    font-weight: bold;
    height: 30px;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
}
.callback:hover, .callback-submit:hover {
    color: #fff;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    border-color: transparent;
}

.popup {
    position: relative;
    background: #FFF;
    /*padding: 20px;*/
    width: auto;
    max-width: 500px;
    /*margin: 20px auto;*/
    display: none;
    border-radius: 5px;
}

#content img {
    max-width: 100%;
}

.product-thumb .button-group button:nth-of-type(2) {
    display: none;
}

.product-thumb .button-group button {
    width: 80%;
}

.popup-content {
    padding: 20px;
}

.callback-form__title {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    /*margin-bottom: 30px;*/
    height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
    padding: 0 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.input_text.error {
    border-color: #dc4141;
}

.input_text {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    width: 100%;
    font-size: 14px;
    height: 40px;
    line-height: 38px;
    margin-bottom: 20px;
    padding: 0 10px;
    outline: none;
    color: #000;
}

.input_text:focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.popup-content .callback-submit {
    background-color: transparent;
    height: 40px;
    width: 100%;
    line-height: 36px;
}

.success-message {
    text-align: center;
    font-weight: bold;
}

.error-message {
    color: #dc4141;
    text-align: center;
    font-weight: bold;
}

.footer-list {
    list-style: none;
    padding: 0;
}

.info-txt {
    font-size: 10px;
    line-height: 14px;
}

/*.checkout-checkout #accordion {*/
    /*opacity: 0;*/
/*}*/

/*hide order input*/
.hide {
    display: none;
}




@media screen and (max-width: 992px) {
    #cart {
        margin-top: 15px;
    }
}

@media screen and (max-width: 810px) {
    header {
        margin-top: 44px;
    }

    header .container {
        padding-top: 15px;
    }
}

@media screen and (max-width: 768px) {
    .schedule, .h-allday, .contact-el {
        text-align: center;
    }

    .contact-el {
        /*justify-content: center;*/
        margin-left: auto;
        margin-right: auto;
        flex: none;
        width: 165px;

    }

    .callback, .callback:focus {
        display: block;
        text-align: center;
        margin-top: 15px;
        height: 40px;
        line-height: 36px;
    }

    .h-allday {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #cart, #search {
        margin-bottom: 15px;
    }

    .mobile-aside-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    #column-left {
        margin-top: 30px;
    }

    .callback-form__title {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    .navbar-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}


